@import "tailwindcss";

/* Custom theme variables (Tailwind v4 CSS-first config) */
@theme {
  --color-map-water: oklch(0.75 0.1 220);
  --color-map-land: oklch(0.95 0.01 90);
  --color-map-highlight: oklch(0.85 0.2 85);
  --color-map-ghost: oklch(0.8 0.02 0);
}
